@model Cost_Management.ViewModel.MasterView
@using Microsoft.AspNet.Identity

@section scripts{
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/DeleteConfirm.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
   
}

@if (User.Identity.IsAuthenticated)
{

    <h1>統計表</h1>

    <div id="Header" align="center">

        @using (Html.BeginForm("Statistics_table", "Master", FormMethod.Get))
                {
            <form class="form-horizontal">
                <font size="5">
                    <table class="table">
                        <tr class="success">
                            <td>
                                搜尋:
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.yeatSearch, new SelectList(new List<Object>{
                               new { value = "" , text = "" },
                               new { value = (System.DateTime.Now).Year-2 , text = (System.DateTime.Now).Year-2},
                               new { value = (System.DateTime.Now).Year-1 , text = (System.DateTime.Now).Year-1},
                                 new { value = (System.DateTime.Now).Year , text = (System.DateTime.Now).Year},
                                 new { value = (System.DateTime.Now).Year+1 , text = (System.DateTime.Now).Year+1 },
                                 new { value = (System.DateTime.Now).Year+2  , text = (System.DateTime.Now).Year+2 },
                                  },  "value","text", (System.DateTime.Now).Year))
                                @Html.DropDownListFor(model => model.MonthSearch, new SelectList(new List<Object>{
                                new { value = "" , text = "" },
                                 new { value = "-01-" , text = "一月" },
                                 new { value = "-02-" , text = "二月" },
                                 new { value = "-03-" , text = "三月" },
                                 new { value = "-04-" , text = "四月" },
                                 new { value = "-05-" , text = "五月" } ,
                                 new { value = "-06-", text = "六月" } ,
                                new { value = "-07-", text = "七月" } ,
                                new { value = "-08-", text = "八月" } ,
                                new { value = "-09-" , text = "九月" },
                                new { value = "-10-" , text = "十月" },
                                new { value = "-11-" , text = "十一月" },
                                new { value = "-12-" , text = "十二月" } },
                                 "value", "text", 1))
                            </td>
                            <td align="center">
                                @Html.EditorFor(model => model.DateSearch, new { htmlAttributes = new {  data_datapicker = "", onchange = "this.form.submit();" } })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Search, new { @placeholder = "姓名" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.projectSearch, new { @placeholder = "專案" })
                            </td>

                            <td align="center">
                                <input type="submit" class="btn btn-primary" value="送出" />
                                @Html.ActionLink("清空", "Statistics_table", "Master", null, new { @class = "btn btn-warning" })
                            </td>
                        </tr>
                    </table>
                </font>
                <hr>
                <table class="table table-striped">

                    <tr>
                        <th>
                            請購<br>單號
                        </th>
                        <th>
                            專案
                        </th>
                        <th>
                            費用說明
                        </th>
                        <th>
                            地區
                        </th>
                        <th>
                           消費日期
                             
                        </th>
                        <th>
                            幣別

                        </th>
                        <th>
                            數量
                        </th>
                        <th>
                            原幣<br>總價
                        </th>
                        <th>
                            台幣<br>總價
                        </th>

                        <th>
                           稅額
                        </th>
                        <th>
                            發票號碼
                        </th>
                        <th>
                            單據<br>序號
                        </th>
                        <th>
                            城市
                        </th>
                        <th>
                            費用<br>類別
                        </th>
                        <th>
                            費用<br>屬性
                        </th>
                        <th>
                            圖片
                        </th>
                        <th>
                            附註
                        </th>
                    </tr>

                    @foreach (var item in Model.DataList)
                    {
                        if (item.exp_type != "Bookmeal")
                        {
                                <tr>
                                    <td>
                                        @item.RequireNumber
                                    </td>
                                    <td>
                                        @item.projectCode
                                    </td>
                                    <td>
                                        @item.description
                                    </td>
                                    <td>
                                        @item.nation
                                    </td>
                                    <td>
                                        @item.exp_date
                                    </td>
                                    <td>
                                        @item.currency
                                    </td>
                                    <td>
                                        @item.QTY
                                    </td>
                                    <td>
                                        @item.price
                                    </td>
                                    <td>
                                        @item.amount
                                    </td>
                                    <td>
                                        @item.tax
                                    </td>
                                    <td>
                                        @item.invoice
                                    </td>
                                    <td>
                                        @item.DocumentsNumber
                                    </td>
                                    <td>
                                        @item.location
                                    </td>
                                    <td>
                                        @item.exp_type
                                    </td>
                                    <td>
                                        @item.exp_attr
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#@item.ID">▼</button>
                                        <!-- Modal -->
                                        <div id="@item.ID" class="modal fade" role="dialog">
                                            <div class="modal-dialog modal-lg">
                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">圖片</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            @if (!string.IsNullOrEmpty(@item.picture))
                                                            {
                                                                <img src="data:image/png;base64,@item.picture" />
                                                            }
                                                            @if (!string.IsNullOrEmpty(@item.picture1))
                                                            {
                                                            <img src="data:image/png;base64,@item.picture1" />
                                                            }
                                                            @if (!string.IsNullOrEmpty(@item.picture2))
                                                            {
                                                            <img src="data:image/png;base64,@item.picture2" />
                                                            }
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item.note
                                    </td>
                                </tr>
                            Model.NTamount += item.amount;
                            if(!string.IsNullOrEmpty(item.tax))
                            {
                                Model.taxamount += Convert.ToDouble(item.tax);
                            }

                        }
                    }
                    
                        <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                        <td style="background-color:#FFFF00;"> 總計: </td>
                        <td style="background-color:#FFFF00;">
                            @Model.NTamount
                        </td>
                        <td style="background-color:#FFFF00;">
                            @Model.taxamount
                        </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                    <td style="background-color:#FFFF00;"> </td>
                   
                    </table>
            </form>
        }
       
    </div>
        <hr>
        <div id="footer" style="clear:both;text-align:center;">
            <font size="4">
                <td>
                    @*若目前所在頁數大於1，則顯示上一頁與最前頁的按鈕*@
                    @if (Model.Paging.NowPage > 1)
                {
                        @Html.ActionLink("<<", "Demand"
                    , new { Page = 1, Search = Model.Search, Model.sortOrder })
                        @Html.ActionLink("<", "Demand"
                    , new { Page = Model.Paging.NowPage - 1, Search = Model.Search, Model.sortOrder })
                    }
                </td>
                <td>
                    @*顯示當前頁數前後各五頁的頁數*@
                    @for (var page = (Model.Paging.NowPage - 6); page < (Model.Paging.NowPage + 6); page++)
                {
                    if ((page > 0) && (page <= Model.Paging.MaxPage))
                    {
                        if (page == Model.Paging.NowPage)
                        {
                                <b>@page</b>
                            }
                            else
                            {
                                @Html.ActionLink(page.ToString(), "Demand"
                            , new { Page = page, Search = Model.Search, Model.sortOrder })
                            }
                        }
                    }
                </td>
                <td>
                    @*若目前所在頁數小於總頁數，則顯示下一頁與最後一頁的按鈕*@
                    @if (Model.Paging.NowPage < Model.Paging.MaxPage)
                    {

                        @Html.ActionLink(">", "Demand"
                    , new { Page = Model.Paging.NowPage + 1, Search = Model.Search, Model.sortOrder })
                        @Html.ActionLink(">>", "Demand"
                    , new { Page = Model.Paging.MaxPage, Search = Model.Search, Model.sortOrder })
                    }
                </td>
            </font>
        </div>
}
else
{
    <h2>尚未登入</h2>
}
